In [39]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [40]:
population = pd.read_csv(r"C:\Users\sathv\OneDrive\Desktop\RDM\adult.data.csv")

In [41]:
sample_1 = population

In [42]:
X= sample_1[["age","workclass","education-num","marital-status","occupation","relationship","race","sex","hoursperweek","native-country"]]
y = sample_1["class"]

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state = 42)

In [44]:
X_train

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
5514,33,Local-gov,13,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States
19777,36,Private,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States
10781,58,Self-emp-not-inc,5,Separated,Craft-repair,Not-in-family,White,Male,40,United-States
32240,21,Private,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,46,United-States
9876,27,Private,10,Divorced,Other-service,Not-in-family,White,Male,40,United-States
...,...,...,...,...,...,...,...,...,...,...
29802,47,Private,13,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States
5390,31,Private,8,Divorced,Other-service,Unmarried,White,Female,21,United-States
860,18,Private,7,Never-married,Adm-clerical,Own-child,White,Female,20,United-States
15795,50,Self-emp-not-inc,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,84,United-States
23654,34,Self-emp-inc,13,Divorced,Farming-fishing,Not-in-family,White,Male,60,United-States

In [45]:
def detect_outlier(data, col):
    mean = np.mean(data[col])
    std = np.std(data[col])
    threshold = 3
    outlier = []
    index = []
    for i in data.index:
#         print(i)
        z = (data[col][i]-mean)/std
        if z > threshold:
            index.append(i)
            ou = data.at[i, col]
            outlier.append(ou)
#     print(outlier)
    return (list(index),outlier)

In [46]:
def impute(data,col,index):
    new_data = data.copy()
    mode = new_data[col].mode()
    for i in index:
        new_data.at[i, col]=mode
    return new_data

In [47]:
def drop_rows(x,only_na):
    new_data = x.copy()
    for i in only_na:
        new_data.drop(i,inplace=True)

    return new_data

In [48]:
index, outlier = detect_outlier(X_train,"age")

In [49]:
X_train = impute(X_train,"age",index)

In [50]:
index, outlier = detect_outlier(X_train,"hoursperweek")

In [51]:
X_train = impute(X_train,"hoursperweek",index)

In [52]:
X_train = pd.get_dummies(X_train, columns = ['workclass', 'relationship', 'marital-status', 'occupation', 'race', 'sex', 'native-country'])

In [53]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26048 entries, 5514 to 23654
Data columns (total 89 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   age                                         26048 non-null  int64
 1   education-num                               26048 non-null  int64
 2   hoursperweek                                26048 non-null  int64
 3   workclass_ ?                                26048 non-null  uint8
 4   workclass_ Federal-gov                      26048 non-null  uint8
 5   workclass_ Local-gov                        26048 non-null  uint8
 6   workclass_ Never-worked                     26048 non-null  uint8
 7   workclass_ Private                          26048 non-null  uint8
 8   workclass_ Self-emp-inc                     26048 non-null  uint8
 9   workclass_ Self-emp-not-inc                 26048 non-null  uint8
 10  workclass_ State-gov                        26048 non-null  uint8
 11  workclass_ Without-pay                      26048 non-null  uint8
 12  relationship_ Husband                       26048 non-null  uint8
 13  relationship_ Not-in-family                 26048 non-null  uint8
 14  relationship_ Other-relative                26048 non-null  uint8
 15  relationship_ Own-child                     26048 non-null  uint8
 16  relationship_ Unmarried                     26048 non-null  uint8
 17  relationship_ Wife                          26048 non-null  uint8
 18  marital-status_ Divorced                    26048 non-null  uint8
 19  marital-status_ Married-AF-spouse           26048 non-null  uint8
 20  marital-status_ Married-civ-spouse          26048 non-null  uint8
 21  marital-status_ Married-spouse-absent       26048 non-null  uint8
 22  marital-status_ Never-married               26048 non-null  uint8
 23  marital-status_ Separated                   26048 non-null  uint8
 24  marital-status_ Widowed                     26048 non-null  uint8
 25  occupation_ ?                               26048 non-null  uint8
 26  occupation_ Adm-clerical                    26048 non-null  uint8
 27  occupation_ Armed-Forces                    26048 non-null  uint8
 28  occupation_ Craft-repair                    26048 non-null  uint8
 29  occupation_ Exec-managerial                 26048 non-null  uint8
 30  occupation_ Farming-fishing                 26048 non-null  uint8
 31  occupation_ Handlers-cleaners               26048 non-null  uint8
 32  occupation_ Machine-op-inspct               26048 non-null  uint8
 33  occupation_ Other-service                   26048 non-null  uint8
 34  occupation_ Priv-house-serv                 26048 non-null  uint8
 35  occupation_ Prof-specialty                  26048 non-null  uint8
 36  occupation_ Protective-serv                 26048 non-null  uint8
 37  occupation_ Sales                           26048 non-null  uint8
 38  occupation_ Tech-support                    26048 non-null  uint8
 39  occupation_ Transport-moving                26048 non-null  uint8
 40  race_ Amer-Indian-Eskimo                    26048 non-null  uint8
 41  race_ Asian-Pac-Islander                    26048 non-null  uint8
 42  race_ Black                                 26048 non-null  uint8
 43  race_ Other                                 26048 non-null  uint8
 44  race_ White                                 26048 non-null  uint8
 45  sex_ Female                                 26048 non-null  uint8
 46  sex_ Male                                   26048 non-null  uint8
 47  native-country_ ?                           26048 non-null  uint8
 48  native-country_ Cambodia                    26048 non-null  uint8
 49  native-country_ Canada                      26048 non-null  uint8
 50  native-country_ China                       26048 non-null  uint8
 51  native-country_ Columbia                    26048 non-null  uint8
 52  native-country_ Cuba                        26048 non-null  uint8
 53  native-country_ Dominican-Republic          26048 non-null  uint8
 54  native-country_ Ecuador                     26048 non-null  uint8
 55  native-country_ El-Salvador                 26048 non-null  uint8
 56  native-country_ England                     26048 non-null  uint8
 57  native-country_ France                      26048 non-null  uint8
 58  native-country_ Germany                     26048 non-null  uint8
 59  native-country_ Greece                      26048 non-null  uint8
 60  native-country_ Guatemala                   26048 non-null  uint8
 61  native-country_ Haiti                       26048 non-null  uint8
 62  native-country_ Holand-Netherlands          26048 non-null  uint8
 63  native-country_ Honduras                    26048 non-null  uint8
 64  native-country_ Hong                        26048 non-null  uint8
 65  native-country_ Hungary                     26048 non-null  uint8
 66  native-country_ India                       26048 non-null  uint8
 67  native-country_ Iran                        26048 non-null  uint8
 68  native-country_ Ireland                     26048 non-null  uint8
 69  native-country_ Italy                       26048 non-null  uint8
 70  native-country_ Jamaica                     26048 non-null  uint8
 71  native-country_ Japan                       26048 non-null  uint8
 72  native-country_ Laos                        26048 non-null  uint8
 73  native-country_ Mexico                      26048 non-null  uint8
 74  native-country_ Nicaragua                   26048 non-null  uint8
 75  native-country_ Outlying-US(Guam-USVI-etc)  26048 non-null  uint8
 76  native-country_ Peru                        26048 non-null  uint8
 77  native-country_ Philippines                 26048 non-null  uint8
 78  native-country_ Poland                      26048 non-null  uint8
 79  native-country_ Portugal                    26048 non-null  uint8
 80  native-country_ Puerto-Rico                 26048 non-null  uint8
 81  native-country_ Scotland                    26048 non-null  uint8
 82  native-country_ South                       26048 non-null  uint8
 83  native-country_ Taiwan                      26048 non-null  uint8
 84  native-country_ Thailand                    26048 non-null  uint8
 85  native-country_ Trinadad&Tobago             26048 non-null  uint8
 86  native-country_ United-States               26048 non-null  uint8
 87  native-country_ Vietnam                     26048 non-null  uint8
 88  native-country_ Yugoslavia                  26048 non-null  uint8
dtypes: int64(3), uint8(86)
memory usage: 3.9 MB

In [54]:
y_train = y_train.astype('category')

In [55]:
X_test = pd.get_dummies(X_test, columns = ['workclass', 'relationship', 'marital-status', 'occupation', 'race', 'sex', 'native-country'])

In [56]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6513 entries, 14160 to 24639
Data columns (total 86 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   age                                    6513 non-null   int64
 1   education-num                          6513 non-null   int64
 2   hoursperweek                           6513 non-null   int64
 3   workclass_ ?                           6513 non-null   uint8
 4   workclass_ Federal-gov                 6513 non-null   uint8
 5   workclass_ Local-gov                   6513 non-null   uint8
 6   workclass_ Private                     6513 non-null   uint8
 7   workclass_ Self-emp-inc                6513 non-null   uint8
 8   workclass_ Self-emp-not-inc            6513 non-null   uint8
 9   workclass_ State-gov                   6513 non-null   uint8
 10  workclass_ Without-pay                 6513 non-null   uint8
 11  relationship_ Husband                  6513 non-null   uint8
 12  relationship_ Not-in-family            6513 non-null   uint8
 13  relationship_ Other-relative           6513 non-null   uint8
 14  relationship_ Own-child                6513 non-null   uint8
 15  relationship_ Unmarried                6513 non-null   uint8
 16  relationship_ Wife                     6513 non-null   uint8
 17  marital-status_ Divorced               6513 non-null   uint8
 18  marital-status_ Married-AF-spouse      6513 non-null   uint8
 19  marital-status_ Married-civ-spouse     6513 non-null   uint8
 20  marital-status_ Married-spouse-absent  6513 non-null   uint8
 21  marital-status_ Never-married          6513 non-null   uint8
 22  marital-status_ Separated              6513 non-null   uint8
 23  marital-status_ Widowed                6513 non-null   uint8
 24  occupation_ ?                          6513 non-null   uint8
 25  occupation_ Adm-clerical               6513 non-null   uint8
 26  occupation_ Armed-Forces               6513 non-null   uint8
 27  occupation_ Craft-repair               6513 non-null   uint8
 28  occupation_ Exec-managerial            6513 non-null   uint8
 29  occupation_ Farming-fishing            6513 non-null   uint8
 30  occupation_ Handlers-cleaners          6513 non-null   uint8
 31  occupation_ Machine-op-inspct          6513 non-null   uint8
 32  occupation_ Other-service              6513 non-null   uint8
 33  occupation_ Priv-house-serv            6513 non-null   uint8
 34  occupation_ Prof-specialty             6513 non-null   uint8
 35  occupation_ Protective-serv            6513 non-null   uint8
 36  occupation_ Sales                      6513 non-null   uint8
 37  occupation_ Tech-support               6513 non-null   uint8
 38  occupation_ Transport-moving           6513 non-null   uint8
 39  race_ Amer-Indian-Eskimo               6513 non-null   uint8
 40  race_ Asian-Pac-Islander               6513 non-null   uint8
 41  race_ Black                            6513 non-null   uint8
 42  race_ Other                            6513 non-null   uint8
 43  race_ White                            6513 non-null   uint8
 44  sex_ Female                            6513 non-null   uint8
 45  sex_ Male                              6513 non-null   uint8
 46  native-country_ ?                      6513 non-null   uint8
 47  native-country_ Cambodia               6513 non-null   uint8
 48  native-country_ Canada                 6513 non-null   uint8
 49  native-country_ China                  6513 non-null   uint8
 50  native-country_ Columbia               6513 non-null   uint8
 51  native-country_ Cuba                   6513 non-null   uint8
 52  native-country_ Dominican-Republic     6513 non-null   uint8
 53  native-country_ Ecuador                6513 non-null   uint8
 54  native-country_ El-Salvador            6513 non-null   uint8
 55  native-country_ England                6513 non-null   uint8
 56  native-country_ France                 6513 non-null   uint8
 57  native-country_ Germany                6513 non-null   uint8
 58  native-country_ Greece                 6513 non-null   uint8
 59  native-country_ Guatemala              6513 non-null   uint8
 60  native-country_ Haiti                  6513 non-null   uint8
 61  native-country_ Honduras               6513 non-null   uint8
 62  native-country_ Hong                   6513 non-null   uint8
 63  native-country_ Hungary                6513 non-null   uint8
 64  native-country_ India                  6513 non-null   uint8
 65  native-country_ Iran                   6513 non-null   uint8
 66  native-country_ Ireland                6513 non-null   uint8
 67  native-country_ Italy                  6513 non-null   uint8
 68  native-country_ Jamaica                6513 non-null   uint8
 69  native-country_ Japan                  6513 non-null   uint8
 70  native-country_ Laos                   6513 non-null   uint8
 71  native-country_ Mexico                 6513 non-null   uint8
 72  native-country_ Nicaragua              6513 non-null   uint8
 73  native-country_ Peru                   6513 non-null   uint8
 74  native-country_ Philippines            6513 non-null   uint8
 75  native-country_ Poland                 6513 non-null   uint8
 76  native-country_ Portugal               6513 non-null   uint8
 77  native-country_ Puerto-Rico            6513 non-null   uint8
 78  native-country_ Scotland               6513 non-null   uint8
 79  native-country_ South                  6513 non-null   uint8
 80  native-country_ Taiwan                 6513 non-null   uint8
 81  native-country_ Thailand               6513 non-null   uint8
 82  native-country_ Trinadad&Tobago        6513 non-null   uint8
 83  native-country_ United-States          6513 non-null   uint8
 84  native-country_ Vietnam                6513 non-null   uint8
 85  native-country_ Yugoslavia             6513 non-null   uint8
dtypes: int64(3), uint8(83)
memory usage: 731.4 KB

In [57]:
X_train.columns.difference(X_test.columns)

Index(['native-country_ Holand-Netherlands',
       'native-country_ Outlying-US(Guam-USVI-etc)',
       'workclass_ Never-worked'],
      dtype='object')

In [58]:
X_train["workclass_ Never-worked"]

5514     0
19777    0
10781    0
32240    0
9876     0
        ..
29802    0
5390     0
860      0
15795    0
23654    0
Name: workclass_ Never-worked, Length: 26048, dtype: uint8

In [59]:
# X_test["workclass_Never-worked "].drop
X_train = X_train.drop(['workclass_ Never-worked'], axis=1)

In [60]:
X_train = X_train.drop(['native-country_ Holand-Netherlands'], axis=1)

In [61]:
X_train = X_train.drop(['native-country_ Outlying-US(Guam-USVI-etc)'], axis=1)

In [62]:
y_test = y_test.astype('category')

In [63]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
logisticRegr = LogisticRegression()

In [64]:
def logistic_regression_train(logisticRegr,x,y):
    logisticRegr.fit(x,y)
def logistic_regression_test(logisticRegr,x):
    y_pred = logisticRegr.predict_proba(x)
    return y_pred
def logistic_regression_pred_test(logisticRegr,x):
    y_pred_test = logisticRegr.predict(x)
    return y_pred_test

def average_diff(y_pred, X_test):
    column_i = y_pred.T[0]
    X_test_copy = X_test.copy()
    X_test_copy['preds'] = column_i
    Female = X_test_copy["preds"][X_test_copy["sex_ Female"]== 1]
    female_average = sum(Female)/len(Female)
    male = X_test_copy["preds"][X_test_copy["sex_ Male"] == 1]
    male_average = sum(male)/len(male)
    diff = (female_average - male_average)
    return diff 

def accuracy(y_test, y_pred_final):
#     y_pred_final = np.argmax(y_pred, axis=1)
    tn, fp, fn, tp = confusion_matrix(y_test, y_pred_final).ravel()
    true_positive  = tn
    false_positive = fn
    true_negative  = tp
    false_negative = fp
    accuracy = (true_positive + true_negative) / (true_negative + true_positive + false_positive + false_negative )
    return(accuracy)

In [65]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

y_pred = classifier.predict_proba(X_test)

dirty_diff = average_diff(y_pred,X_test)
dirty_diff

y_pred_test = classifier.predict(X_test)

from sklearn.metrics import confusion_matrix,accuracy_score
dirty_test_score = accuracy_score(y_test,y_pred_test)

C:\Users\sathv\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [66]:
X_clean_train, X_clean_test, y_clean_train, y_clean_test = train_test_split(X, y, test_size=0.20, random_state = 42)

In [67]:
index, outlier = detect_outlier(X_clean_train,"age")
X_clean_train = impute(X_clean_train,"age",index)
index, outlier = detect_outlier(X_clean_train,"hoursperweek")
X_clean_train = impute(X_clean_train,"hoursperweek",index)

In [68]:
index, outlier = detect_outlier(X_clean_test,"age")
X_clean_test = impute(X_clean_test,"age",index)
index, outlier = detect_outlier(X_clean_test,"hoursperweek")
X_clean_test = impute(X_clean_test,"hoursperweek",index)

In [69]:
X_clean_train = pd.get_dummies(X_clean_train, columns = ['workclass', 'relationship', 'marital-status', 'occupation', 'race', 'sex', 'native-country'])

In [70]:
y_clean_train = y_clean_train.astype('category')

In [71]:
X_clean_test = pd.get_dummies(X_clean_test, columns = ['workclass', 'relationship', 'marital-status', 'occupation', 'race', 'sex', 'native-country'])

In [72]:
y_clean_test = y_clean_test.astype('category')

In [73]:
X_clean_train.columns.difference(X_clean_test.columns)

Index(['native-country_ Holand-Netherlands',
       'native-country_ Outlying-US(Guam-USVI-etc)',
       'workclass_ Never-worked'],
      dtype='object')

In [74]:
X_clean_train = X_clean_train.drop(['native-country_ Holand-Netherlands','native-country_ Outlying-US(Guam-USVI-etc)','workclass_ Never-worked' ], axis=1)

In [75]:
clean_model = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
clean_model.fit(X_clean_train, y_clean_train)

y_clean_pred = classifier.predict_proba(X_clean_test)

clean_diff = average_diff(y_clean_pred,X_clean_test)
clean_diff

y_pred_clean_test = classifier.predict(X_test)

clean_test_score = accuracy_score(y_test,y_pred_test)

C:\Users\sathv\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [77]:
from tabulate import tabulate
data = [["IQR","Impute Outliers by mode","Dirty test data","One-Hot Encoding", "KNN", dirty_test_score, dirty_diff],
["IQR","Impute Outliers by mode", "Clean test data", "One-Hot Encoding", "KNN", clean_test_score, clean_diff]]
print (tabulate(data, headers=["Detect Method","Method", "Test Data", "Encoding Technique", "ML Model", "Accuracy", "Fairness"]))

Detect Method    Method                   Test Data        Encoding Technique    ML Model      Accuracy    Fairness
---------------  -----------------------  ---------------  --------------------  ----------  ----------  ----------
IQR              Impute Outliers by mode  Dirty test data  One-Hot Encoding      KNN           0.814678    0.188837
IQR              Impute Outliers by mode  Clean test data  One-Hot Encoding      KNN           0.814678    0.189076