In [301]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [302]:
population = pd.read_csv(r"C:\Users\sathv\OneDrive\Desktop\RDM\adult.data.csv")

In [303]:
sample_1 = population

In [304]:
X= sample_1[["age","workclass","education-num","marital-status","occupation","relationship","race","sex","hoursperweek","native-country"]]
y = sample_1["class"]

In [305]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state = 42)

In [306]:
X_train

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
5514,33,Local-gov,13,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States
19777,36,Private,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States
10781,58,Self-emp-not-inc,5,Separated,Craft-repair,Not-in-family,White,Male,40,United-States
32240,21,Private,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,46,United-States
9876,27,Private,10,Divorced,Other-service,Not-in-family,White,Male,40,United-States
...,...,...,...,...,...,...,...,...,...,...
29802,47,Private,13,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States
5390,31,Private,8,Divorced,Other-service,Unmarried,White,Female,21,United-States
860,18,Private,7,Never-married,Adm-clerical,Own-child,White,Female,20,United-States
15795,50,Self-emp-not-inc,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,84,United-States
23654,34,Self-emp-inc,13,Divorced,Farming-fishing,Not-in-family,White,Male,60,United-States

In [307]:
def detect_outlier(data,col):
    # find q1 and q3 values
    q1, q3 = np.percentile(sorted(data[col]), [25, 75])
 
    # compute IRQ
    iqr = q3 - q1
 
    # find lower and upper bounds
    lower_bound = q1 - (1.5 * iqr)
    upper_bound = q3 + (1.5 * iqr)
    print(q1, q3, iqr, lower_bound, upper_bound)
 
    outliers = data[(data[col] < lower_bound) | (data[col] > upper_bound)]
#     outliers = [x for x in data[col] if x < lower_bound or x > upper_bound]
 
    return outliers

In [308]:
def remove(x,only_na):
    new_data = x.copy()
    new_data.drop(index=only_na,inplace=True)
    indices = list(x.index.difference(new_data.index))
#     print(new_data)
    return(new_data,indices)

In [309]:
def drop_rows(x,only_na):
    new_data = x.copy()
    new_data.drop(index=only_na,inplace=True)
    return new_data

In [310]:
outliers = detect_outlier(X_train,"age")

28.0 48.0 20.0 -2.0 78.0

In [311]:
only_na = outliers.index

In [312]:
only_na

Int64Index([ 3537, 18560, 24043, 23459, 17609, 20610, 15356, 11238,  6173,
            20249,
            ...
             4109, 13025, 20953, 24027,  2891, 32367,  5104, 20463, 20880,
            18141],
           dtype='int64', length=112)

In [313]:
X_train,indices = remove(X_train,only_na)

In [314]:
X_train

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
5514,33,Local-gov,13,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States
19777,36,Private,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States
10781,58,Self-emp-not-inc,5,Separated,Craft-repair,Not-in-family,White,Male,40,United-States
32240,21,Private,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,46,United-States
9876,27,Private,10,Divorced,Other-service,Not-in-family,White,Male,40,United-States
...,...,...,...,...,...,...,...,...,...,...
29802,47,Private,13,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States
5390,31,Private,8,Divorced,Other-service,Unmarried,White,Female,21,United-States
860,18,Private,7,Never-married,Adm-clerical,Own-child,White,Female,20,United-States
15795,50,Self-emp-not-inc,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,84,United-States
23654,34,Self-emp-inc,13,Divorced,Farming-fishing,Not-in-family,White,Male,60,United-States

In [315]:
y_train = drop_rows(y_train,indices)

In [316]:
y_train

5514       >50K
19777      >50K
10781     <=50K
32240     <=50K
9876      <=50K
          ...
29802     <=50K
5390      <=50K
860       <=50K
15795     <=50K
23654     <=50K
Name: class, Length: 25936, dtype: object

In [317]:
outliers1 = detect_outlier(X_train,"hoursperweek")

40.0 45.0 5.0 32.5 52.5

In [318]:
only_na1 = outliers1.index

In [319]:
X_train,indices1 = remove(X_train,only_na1)

In [320]:
X_train

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
5514,33,Local-gov,13,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States
19777,36,Private,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States
10781,58,Self-emp-not-inc,5,Separated,Craft-repair,Not-in-family,White,Male,40,United-States
32240,21,Private,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,46,United-States
9876,27,Private,10,Divorced,Other-service,Not-in-family,White,Male,40,United-States
...,...,...,...,...,...,...,...,...,...,...
22118,23,Private,6,Never-married,Handlers-cleaners,Unmarried,White,Male,50,United-States
11284,35,Private,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,50,?
11964,58,Self-emp-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States
21575,39,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,43,United-States
29802,47,Private,13,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States

In [321]:
y_train = drop_rows(y_train,indices1)

In [322]:
y_train

5514       >50K
19777      >50K
10781     <=50K
32240     <=50K
9876      <=50K
          ...
22118     <=50K
11284      >50K
11964      >50K
21575     <=50K
29802     <=50K
Name: class, Length: 18835, dtype: object

In [323]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [324]:
def label_encoding(data,cat_cols):
    if cat_cols is None:
        data= label_encoder.fit_transform(data)
        return data
        
    else:
        for i in range(len(cat_cols)):
            data[cat_cols[i]]= label_encoder.fit_transform(data[cat_cols[i]])

In [325]:
cols = X_train.select_dtypes([np.object]).columns

C:\Users\sathv\AppData\Local\Temp\ipykernel_23508\2170981920.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  cols = X_train.select_dtypes([np.object]).columns

In [326]:
cols

Index(['workclass', 'marital-status', 'occupation', 'relationship', 'race',
       'sex', 'native-country'],
      dtype='object')

In [327]:
label_encoding(X_train,cols)

In [328]:
X_train

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
5514,33,2,13,4,10,1,4,0,50,39
19777,36,4,11,2,4,0,4,1,50,39
10781,58,6,5,5,3,1,4,1,40,39
32240,21,4,11,2,5,0,4,1,46,39
9876,27,4,10,0,8,1,4,1,40,39
...,...,...,...,...,...,...,...,...,...,...
22118,23,4,6,4,6,4,4,1,50,39
11284,35,4,13,2,4,0,1,1,50,0
11964,58,5,13,2,4,0,4,1,45,39
21575,39,4,9,2,7,0,4,1,43,39
29802,47,4,13,2,3,0,4,1,40,39

In [329]:
# col = None
y_train = label_encoding(y_train, None)

In [330]:
y_train

array([1, 1, 0, ..., 1, 0, 0])

In [331]:
label_encoding(X_test, cols)

In [332]:
y_test= label_encoding(y_test, None)

In [333]:
y_test

array([0, 0, 1, ..., 1, 0, 0])

In [334]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
logisticRegr = LogisticRegression()

In [335]:
def logistic_regression_train(logisticRegr,x,y):
    logisticRegr.fit(x,y)
def logistic_regression_test(logisticRegr,x):
    y_pred = logisticRegr.predict_proba(x)
    return y_pred
def logistic_regression_pred_test(logisticRegr,x):
    y_pred_test = logisticRegr.predict(x)
    return y_pred_test

def average_diff(y_pred, X_test):
    column_i = y_pred.T[0]
    X_test_copy = X_test.copy()
    X_test_copy['preds'] = column_i
    Female = X_test_copy["preds"][X_test_copy["sex"] == 0]
    female_average = sum(Female)/len(Female)
    male = X_test_copy["preds"][X_test_copy["sex"] == 1]
    male_average = sum(male)/len(male)
    diff = (female_average - male_average)
    return diff 

def accuracy(y_test, y_pred_final):
#     y_pred_final = np.argmax(y_pred, axis=1)
    tn, fp, fn, tp = confusion_matrix(y_test, y_pred_final).ravel()
    true_positive  = tn
    false_positive = fn
    true_negative  = tp
    false_negative = fp
    accuracy = (true_positive + true_negative) / (true_negative + true_positive + false_positive + false_negative )
    return(accuracy)

In [336]:
model = logistic_regression_train(logisticRegr, X_train, y_train)

C:\Users\sathv\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [337]:
y_pred = logistic_regression_test(logisticRegr, X_test)

In [338]:
y_pred

array([[0.88729775, 0.11270225],
       [0.93667448, 0.06332552],
       [0.55171832, 0.44828168],
       ...,
       [0.2075323 , 0.7924677 ],
       [0.93824606, 0.06175394],
       [0.94057159, 0.05942841]])

In [339]:
dirty_diff = average_diff(y_pred, X_test)

In [340]:
dirty_diff

0.23550700170893513

In [341]:
dirty_test_score = logisticRegr.score(X_test, y_test)

In [342]:
dirty_test_score

0.7913403961308153

In [343]:
X_clean_train, X_clean_test, y_clean_train, y_clean_test = train_test_split(X, y, test_size=0.20, random_state = 42)

In [344]:
outliers = detect_outlier(X_clean_train,"age")

28.0 48.0 20.0 -2.0 78.0

In [345]:
only_na = outliers.index

In [346]:
X_clean_train,indices = remove(X_clean_train,only_na)

In [347]:
X_clean_train

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
5514,33,Local-gov,13,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States
19777,36,Private,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States
10781,58,Self-emp-not-inc,5,Separated,Craft-repair,Not-in-family,White,Male,40,United-States
32240,21,Private,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,46,United-States
9876,27,Private,10,Divorced,Other-service,Not-in-family,White,Male,40,United-States
...,...,...,...,...,...,...,...,...,...,...
29802,47,Private,13,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States
5390,31,Private,8,Divorced,Other-service,Unmarried,White,Female,21,United-States
860,18,Private,7,Never-married,Adm-clerical,Own-child,White,Female,20,United-States
15795,50,Self-emp-not-inc,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,84,United-States
23654,34,Self-emp-inc,13,Divorced,Farming-fishing,Not-in-family,White,Male,60,United-States

In [348]:
y_clean_train = drop_rows(y_clean_train,indices)

In [349]:
outliers1 = detect_outlier(X_clean_train,"hoursperweek")

40.0 45.0 5.0 32.5 52.5

In [350]:
only_na1 = outliers1.index

In [351]:
X_clean_train,indices = remove(X_clean_train,only_na1)

In [352]:
y_clean_train = drop_rows(y_clean_train,indices)

In [353]:
y_clean_train

5514       >50K
19777      >50K
10781     <=50K
32240     <=50K
9876      <=50K
          ...
22118     <=50K
11284      >50K
11964      >50K
21575     <=50K
29802     <=50K
Name: class, Length: 18835, dtype: object

In [354]:
outliers2 = detect_outlier(X_clean_test,"age")

28.0 48.0 20.0 -2.0 78.0

In [355]:
only_na2 = outliers2.index

In [356]:
X_clean_test,indices = remove(X_clean_test,only_na2)

In [357]:
X_clean_test

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
14160,27,Private,10,Divorced,Adm-clerical,Not-in-family,White,Female,38,United-States
27048,45,State-gov,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States
28868,29,Private,13,Married-civ-spouse,Exec-managerial,Husband,Black,Male,55,United-States
5667,30,Private,13,Never-married,Machine-op-inspct,Not-in-family,White,Female,40,United-States
7827,29,Self-emp-not-inc,10,Divorced,Craft-repair,Not-in-family,White,Male,50,United-States
...,...,...,...,...,...,...,...,...,...,...
1338,71,Private,13,Divorced,Tech-support,Own-child,White,Female,16,United-States
24534,55,Local-gov,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States
18080,47,Private,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,48,United-States
10354,27,Private,13,Never-married,Adm-clerical,Not-in-family,White,Female,40,United-States
24639,18,Private,9,Never-married,Other-service,Not-in-family,White,Male,25,United-States

In [358]:
y_clean_test = drop_rows(y_clean_test,indices)

In [359]:
outliers3 = detect_outlier(X_clean_test,"hoursperweek")

40.0 45.0 5.0 32.5 52.5

In [360]:
only_na3 = outliers3.index

In [361]:
X_clean_test,indices = remove(X_clean_test,only_na3)

In [362]:
y_clean_test = drop_rows(y_clean_test,indices)

In [363]:
y_clean_test

14160     <=50K
27048     <=50K
5667      <=50K
7827      <=50K
15382      >50K
          ...
2862      <=50K
14741      >50K
24534      >50K
18080      >50K
10354     <=50K
Name: class, Length: 4664, dtype: object

In [364]:
X_clean_test

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
14160,27,Private,10,Divorced,Adm-clerical,Not-in-family,White,Female,38,United-States
27048,45,State-gov,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States
5667,30,Private,13,Never-married,Machine-op-inspct,Not-in-family,White,Female,40,United-States
7827,29,Self-emp-not-inc,10,Divorced,Craft-repair,Not-in-family,White,Male,50,United-States
15382,51,Private,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,47,United-States
...,...,...,...,...,...,...,...,...,...,...
2862,25,Private,8,Never-married,Handlers-cleaners,Unmarried,White,Male,43,United-States
14741,32,Private,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States
24534,55,Local-gov,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States
18080,47,Private,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,48,United-States
10354,27,Private,13,Never-married,Adm-clerical,Not-in-family,White,Female,40,United-States

In [365]:
label_encoding(X_clean_train,cols)

In [366]:
y_clean_train = label_encoding(y_clean_train, None)

In [367]:
label_encoding(X_clean_test,cols)

In [368]:
y_clean_test= label_encoding(y_clean_test, None)

In [369]:
clean_model = logistic_regression_train(logisticRegr, X_clean_train, y_clean_train)

C:\Users\sathv\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [370]:
y_clean_pred = logistic_regression_test(logisticRegr, X_clean_test)

In [371]:
y_clean_pred

array([[0.88729775, 0.11270225],
       [0.93667448, 0.06332552],
       [0.93178847, 0.06821153],
       ...,
       [0.55436018, 0.44563982],
       [0.2075323 , 0.7924677 ],
       [0.93824606, 0.06175394]])

In [372]:
clean_diff = average_diff(y_clean_pred, X_clean_test)

In [373]:
clean_diff

0.2290690841547498

In [374]:
clean_test_score = logisticRegr.score(X_clean_test, y_clean_test)

In [375]:
clean_test_score

0.7840909090909091

In [376]:
from tabulate import tabulate
data = [["Removing Outliers","Dirty test data","Label Encoding", "Logistic Regression", dirty_test_score, dirty_diff],
["Removing Outliers", "Clean test data", "Label Encoding", "Logistic Regression", clean_test_score, clean_diff]]
print (tabulate(data, headers=["Method", "Test Data", "Encoding Technique", "ML Model", "Accuracy", "Fairness"]))

Method             Test Data        Encoding Technique    ML Model               Accuracy    Fairness
-----------------  ---------------  --------------------  -------------------  ----------  ----------
Removing Outliers  Dirty test data  Label Encoding        Logistic Regression    0.79134     0.235507
Removing Outliers  Clean test data  Label Encoding        Logistic Regression    0.784091    0.229069