In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import LocalOutlierFactor

In [2]:
population = pd.read_csv(r"C:\Users\sathv\OneDrive\Desktop\RDM\adult.data.csv")

In [3]:
sample_1 = population

In [4]:
X= sample_1[["age","workclass","education-num","marital-status","occupation","relationship","race","sex","hoursperweek","native-country"]]
y = sample_1["class"]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state = 42)

In [6]:
X_train

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
5514,33,Local-gov,13,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States
19777,36,Private,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States
10781,58,Self-emp-not-inc,5,Separated,Craft-repair,Not-in-family,White,Male,40,United-States
32240,21,Private,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,46,United-States
9876,27,Private,10,Divorced,Other-service,Not-in-family,White,Male,40,United-States
...,...,...,...,...,...,...,...,...,...,...
29802,47,Private,13,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States
5390,31,Private,8,Divorced,Other-service,Unmarried,White,Female,21,United-States
860,18,Private,7,Never-married,Adm-clerical,Own-child,White,Female,20,United-States
15795,50,Self-emp-not-inc,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,84,United-States
23654,34,Self-emp-inc,13,Divorced,Farming-fishing,Not-in-family,White,Male,60,United-States

In [7]:
def detect_outlier(data,col):
    only_na = []
    new_data = data.copy()
    clf = LocalOutlierFactor(n_neighbors=30)
    normalized_df = (new_data[col]- new_data[col].mean())/new_data[col].std()
    clf.fit_predict(normalized_df.values.reshape(-1,1))
    results = clf.negative_outlier_factor_
    new_data["LOF"] = results.tolist()
    new_data = new_data.query("LOF < -1.5")
    for i in new_data.index:
        only_na.append(i)
    return only_na

In [8]:
def drop_rows(x,only_na):
    new_data = x.copy()
    for i in only_na:
        new_data.drop(i,inplace=True)
#     new_data.drop(only_na,axis=1,inplace=True)
    return new_data

In [9]:
only_na = detect_outlier(X_train,"age")

In [10]:
X_train = drop_rows(X_train, only_na)

In [11]:
y_train = drop_rows(y_train, only_na)

In [12]:
only_na1 = detect_outlier(X_train, "hoursperweek")

In [13]:
X_train = drop_rows(X_train, only_na1)

In [14]:
y_train = drop_rows(y_train, only_na1)

In [15]:
X_train = pd.get_dummies(X_train, columns = ['workclass', 'relationship', 'marital-status', 'occupation', 'race', 'sex', 'native-country'])

In [16]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25631 entries, 5514 to 23654
Data columns (total 89 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   age                                         25631 non-null  int64
 1   education-num                               25631 non-null  int64
 2   hoursperweek                                25631 non-null  int64
 3   workclass_ ?                                25631 non-null  uint8
 4   workclass_ Federal-gov                      25631 non-null  uint8
 5   workclass_ Local-gov                        25631 non-null  uint8
 6   workclass_ Never-worked                     25631 non-null  uint8
 7   workclass_ Private                          25631 non-null  uint8
 8   workclass_ Self-emp-inc                     25631 non-null  uint8
 9   workclass_ Self-emp-not-inc                 25631 non-null  uint8
 10  workclass_ State-gov                        25631 non-null  uint8
 11  workclass_ Without-pay                      25631 non-null  uint8
 12  relationship_ Husband                       25631 non-null  uint8
 13  relationship_ Not-in-family                 25631 non-null  uint8
 14  relationship_ Other-relative                25631 non-null  uint8
 15  relationship_ Own-child                     25631 non-null  uint8
 16  relationship_ Unmarried                     25631 non-null  uint8
 17  relationship_ Wife                          25631 non-null  uint8
 18  marital-status_ Divorced                    25631 non-null  uint8
 19  marital-status_ Married-AF-spouse           25631 non-null  uint8
 20  marital-status_ Married-civ-spouse          25631 non-null  uint8
 21  marital-status_ Married-spouse-absent       25631 non-null  uint8
 22  marital-status_ Never-married               25631 non-null  uint8
 23  marital-status_ Separated                   25631 non-null  uint8
 24  marital-status_ Widowed                     25631 non-null  uint8
 25  occupation_ ?                               25631 non-null  uint8
 26  occupation_ Adm-clerical                    25631 non-null  uint8
 27  occupation_ Armed-Forces                    25631 non-null  uint8
 28  occupation_ Craft-repair                    25631 non-null  uint8
 29  occupation_ Exec-managerial                 25631 non-null  uint8
 30  occupation_ Farming-fishing                 25631 non-null  uint8
 31  occupation_ Handlers-cleaners               25631 non-null  uint8
 32  occupation_ Machine-op-inspct               25631 non-null  uint8
 33  occupation_ Other-service                   25631 non-null  uint8
 34  occupation_ Priv-house-serv                 25631 non-null  uint8
 35  occupation_ Prof-specialty                  25631 non-null  uint8
 36  occupation_ Protective-serv                 25631 non-null  uint8
 37  occupation_ Sales                           25631 non-null  uint8
 38  occupation_ Tech-support                    25631 non-null  uint8
 39  occupation_ Transport-moving                25631 non-null  uint8
 40  race_ Amer-Indian-Eskimo                    25631 non-null  uint8
 41  race_ Asian-Pac-Islander                    25631 non-null  uint8
 42  race_ Black                                 25631 non-null  uint8
 43  race_ Other                                 25631 non-null  uint8
 44  race_ White                                 25631 non-null  uint8
 45  sex_ Female                                 25631 non-null  uint8
 46  sex_ Male                                   25631 non-null  uint8
 47  native-country_ ?                           25631 non-null  uint8
 48  native-country_ Cambodia                    25631 non-null  uint8
 49  native-country_ Canada                      25631 non-null  uint8
 50  native-country_ China                       25631 non-null  uint8
 51  native-country_ Columbia                    25631 non-null  uint8
 52  native-country_ Cuba                        25631 non-null  uint8
 53  native-country_ Dominican-Republic          25631 non-null  uint8
 54  native-country_ Ecuador                     25631 non-null  uint8
 55  native-country_ El-Salvador                 25631 non-null  uint8
 56  native-country_ England                     25631 non-null  uint8
 57  native-country_ France                      25631 non-null  uint8
 58  native-country_ Germany                     25631 non-null  uint8
 59  native-country_ Greece                      25631 non-null  uint8
 60  native-country_ Guatemala                   25631 non-null  uint8
 61  native-country_ Haiti                       25631 non-null  uint8
 62  native-country_ Holand-Netherlands          25631 non-null  uint8
 63  native-country_ Honduras                    25631 non-null  uint8
 64  native-country_ Hong                        25631 non-null  uint8
 65  native-country_ Hungary                     25631 non-null  uint8
 66  native-country_ India                       25631 non-null  uint8
 67  native-country_ Iran                        25631 non-null  uint8
 68  native-country_ Ireland                     25631 non-null  uint8
 69  native-country_ Italy                       25631 non-null  uint8
 70  native-country_ Jamaica                     25631 non-null  uint8
 71  native-country_ Japan                       25631 non-null  uint8
 72  native-country_ Laos                        25631 non-null  uint8
 73  native-country_ Mexico                      25631 non-null  uint8
 74  native-country_ Nicaragua                   25631 non-null  uint8
 75  native-country_ Outlying-US(Guam-USVI-etc)  25631 non-null  uint8
 76  native-country_ Peru                        25631 non-null  uint8
 77  native-country_ Philippines                 25631 non-null  uint8
 78  native-country_ Poland                      25631 non-null  uint8
 79  native-country_ Portugal                    25631 non-null  uint8
 80  native-country_ Puerto-Rico                 25631 non-null  uint8
 81  native-country_ Scotland                    25631 non-null  uint8
 82  native-country_ South                       25631 non-null  uint8
 83  native-country_ Taiwan                      25631 non-null  uint8
 84  native-country_ Thailand                    25631 non-null  uint8
 85  native-country_ Trinadad&Tobago             25631 non-null  uint8
 86  native-country_ United-States               25631 non-null  uint8
 87  native-country_ Vietnam                     25631 non-null  uint8
 88  native-country_ Yugoslavia                  25631 non-null  uint8
dtypes: int64(3), uint8(86)
memory usage: 2.9 MB

In [17]:
y_train = y_train.astype('category')

In [18]:
X_test = pd.get_dummies(X_test, columns = ['workclass', 'relationship', 'marital-status', 'occupation', 'race', 'sex', 'native-country'])

In [19]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6513 entries, 14160 to 24639
Data columns (total 86 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   age                                    6513 non-null   int64
 1   education-num                          6513 non-null   int64
 2   hoursperweek                           6513 non-null   int64
 3   workclass_ ?                           6513 non-null   uint8
 4   workclass_ Federal-gov                 6513 non-null   uint8
 5   workclass_ Local-gov                   6513 non-null   uint8
 6   workclass_ Private                     6513 non-null   uint8
 7   workclass_ Self-emp-inc                6513 non-null   uint8
 8   workclass_ Self-emp-not-inc            6513 non-null   uint8
 9   workclass_ State-gov                   6513 non-null   uint8
 10  workclass_ Without-pay                 6513 non-null   uint8
 11  relationship_ Husband                  6513 non-null   uint8
 12  relationship_ Not-in-family            6513 non-null   uint8
 13  relationship_ Other-relative           6513 non-null   uint8
 14  relationship_ Own-child                6513 non-null   uint8
 15  relationship_ Unmarried                6513 non-null   uint8
 16  relationship_ Wife                     6513 non-null   uint8
 17  marital-status_ Divorced               6513 non-null   uint8
 18  marital-status_ Married-AF-spouse      6513 non-null   uint8
 19  marital-status_ Married-civ-spouse     6513 non-null   uint8
 20  marital-status_ Married-spouse-absent  6513 non-null   uint8
 21  marital-status_ Never-married          6513 non-null   uint8
 22  marital-status_ Separated              6513 non-null   uint8
 23  marital-status_ Widowed                6513 non-null   uint8
 24  occupation_ ?                          6513 non-null   uint8
 25  occupation_ Adm-clerical               6513 non-null   uint8
 26  occupation_ Armed-Forces               6513 non-null   uint8
 27  occupation_ Craft-repair               6513 non-null   uint8
 28  occupation_ Exec-managerial            6513 non-null   uint8
 29  occupation_ Farming-fishing            6513 non-null   uint8
 30  occupation_ Handlers-cleaners          6513 non-null   uint8
 31  occupation_ Machine-op-inspct          6513 non-null   uint8
 32  occupation_ Other-service              6513 non-null   uint8
 33  occupation_ Priv-house-serv            6513 non-null   uint8
 34  occupation_ Prof-specialty             6513 non-null   uint8
 35  occupation_ Protective-serv            6513 non-null   uint8
 36  occupation_ Sales                      6513 non-null   uint8
 37  occupation_ Tech-support               6513 non-null   uint8
 38  occupation_ Transport-moving           6513 non-null   uint8
 39  race_ Amer-Indian-Eskimo               6513 non-null   uint8
 40  race_ Asian-Pac-Islander               6513 non-null   uint8
 41  race_ Black                            6513 non-null   uint8
 42  race_ Other                            6513 non-null   uint8
 43  race_ White                            6513 non-null   uint8
 44  sex_ Female                            6513 non-null   uint8
 45  sex_ Male                              6513 non-null   uint8
 46  native-country_ ?                      6513 non-null   uint8
 47  native-country_ Cambodia               6513 non-null   uint8
 48  native-country_ Canada                 6513 non-null   uint8
 49  native-country_ China                  6513 non-null   uint8
 50  native-country_ Columbia               6513 non-null   uint8
 51  native-country_ Cuba                   6513 non-null   uint8
 52  native-country_ Dominican-Republic     6513 non-null   uint8
 53  native-country_ Ecuador                6513 non-null   uint8
 54  native-country_ El-Salvador            6513 non-null   uint8
 55  native-country_ England                6513 non-null   uint8
 56  native-country_ France                 6513 non-null   uint8
 57  native-country_ Germany                6513 non-null   uint8
 58  native-country_ Greece                 6513 non-null   uint8
 59  native-country_ Guatemala              6513 non-null   uint8
 60  native-country_ Haiti                  6513 non-null   uint8
 61  native-country_ Honduras               6513 non-null   uint8
 62  native-country_ Hong                   6513 non-null   uint8
 63  native-country_ Hungary                6513 non-null   uint8
 64  native-country_ India                  6513 non-null   uint8
 65  native-country_ Iran                   6513 non-null   uint8
 66  native-country_ Ireland                6513 non-null   uint8
 67  native-country_ Italy                  6513 non-null   uint8
 68  native-country_ Jamaica                6513 non-null   uint8
 69  native-country_ Japan                  6513 non-null   uint8
 70  native-country_ Laos                   6513 non-null   uint8
 71  native-country_ Mexico                 6513 non-null   uint8
 72  native-country_ Nicaragua              6513 non-null   uint8
 73  native-country_ Peru                   6513 non-null   uint8
 74  native-country_ Philippines            6513 non-null   uint8
 75  native-country_ Poland                 6513 non-null   uint8
 76  native-country_ Portugal               6513 non-null   uint8
 77  native-country_ Puerto-Rico            6513 non-null   uint8
 78  native-country_ Scotland               6513 non-null   uint8
 79  native-country_ South                  6513 non-null   uint8
 80  native-country_ Taiwan                 6513 non-null   uint8
 81  native-country_ Thailand               6513 non-null   uint8
 82  native-country_ Trinadad&Tobago        6513 non-null   uint8
 83  native-country_ United-States          6513 non-null   uint8
 84  native-country_ Vietnam                6513 non-null   uint8
 85  native-country_ Yugoslavia             6513 non-null   uint8
dtypes: int64(3), uint8(83)
memory usage: 731.4 KB

In [20]:
X_train.columns.difference(X_test.columns)

Index(['native-country_ Holand-Netherlands',
       'native-country_ Outlying-US(Guam-USVI-etc)',
       'workclass_ Never-worked'],
      dtype='object')

In [21]:
X_train["workclass_ Never-worked"]

5514     0
19777    0
10781    0
32240    0
9876     0
        ..
21575    0
29802    0
860      0
15795    0
23654    0
Name: workclass_ Never-worked, Length: 25631, dtype: uint8

In [22]:
# X_test["workclass_Never-worked "].drop
X_train = X_train.drop(['workclass_ Never-worked'], axis=1)

In [23]:
X_train = X_train.drop(['native-country_ Holand-Netherlands'], axis=1)

In [24]:
X_train = X_train.drop(['native-country_ Outlying-US(Guam-USVI-etc)'], axis=1)

In [25]:
y_test = y_test.astype('category')

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
logisticRegr = LogisticRegression()

In [27]:
def logistic_regression_train(logisticRegr,x,y):
    logisticRegr.fit(x,y)
def logistic_regression_test(logisticRegr,x):
    y_pred = logisticRegr.predict_proba(x)
    return y_pred
def logistic_regression_pred_test(logisticRegr,x):
    y_pred_test = logisticRegr.predict(x)
    return y_pred_test

def average_diff(y_pred, X_test):
    column_i = y_pred.T[0]
    X_test_copy = X_test.copy()
    X_test_copy['preds'] = column_i
    Female = X_test_copy["preds"][X_test_copy["sex_ Female"]== 1]
    female_average = sum(Female)/len(Female)
    male = X_test_copy["preds"][X_test_copy["sex_ Male"] == 1]
    male_average = sum(male)/len(male)
    diff = (female_average - male_average)
    return diff 

def accuracy(y_test, y_pred_final):
#     y_pred_final = np.argmax(y_pred, axis=1)
    tn, fp, fn, tp = confusion_matrix(y_test, y_pred_final).ravel()
    true_positive  = tn
    false_positive = fn
    true_negative  = tp
    false_negative = fp
    accuracy = (true_positive + true_negative) / (true_negative + true_positive + false_positive + false_negative )
    return(accuracy)

In [28]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

y_pred = classifier.predict_proba(X_test)

dirty_diff = average_diff(y_pred,X_test)
dirty_diff

y_pred_test = classifier.predict(X_test)

from sklearn.metrics import confusion_matrix,accuracy_score
dirty_test_score = accuracy_score(y_test,y_pred_test)

C:\Users\sathv\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [29]:
X_clean_train, X_clean_test, y_clean_train, y_clean_test = train_test_split(X, y, test_size=0.20, random_state = 42)

In [30]:
only_na = detect_outlier(X_clean_train, "age")

In [31]:
X_clean_train = drop_rows(X_clean_train, only_na)

In [32]:
y_clean_train = drop_rows(y_clean_train, only_na)

In [33]:
only_na = detect_outlier(X_clean_train, "hoursperweek")

In [34]:
X_clean_train = drop_rows(X_clean_train, only_na)

In [35]:
y_clean_train = drop_rows(y_clean_train, only_na)

In [36]:
only_na = detect_outlier(X_clean_test, "age")

In [37]:
X_clean_test = drop_rows(X_clean_test, only_na)

In [38]:
y_clean_test = drop_rows(y_clean_test, only_na)

In [39]:
only_na = detect_outlier(X_clean_test, "hoursperweek")

In [40]:
X_clean_test = drop_rows(X_clean_test, only_na)

In [41]:
y_clean_test = drop_rows(y_clean_test, only_na)

In [42]:
X_clean_train = pd.get_dummies(X_clean_train, columns = ['workclass', 'relationship', 'marital-status', 'occupation', 'race', 'sex', 'native-country'])

In [43]:
y_clean_train = y_clean_train.astype('category')

In [44]:
X_clean_test = pd.get_dummies(X_clean_test, columns = ['workclass', 'relationship', 'marital-status', 'occupation', 'race', 'sex', 'native-country'])

In [45]:
y_clean_test = y_clean_test.astype('category')

In [46]:
X_clean_train.columns.difference(X_clean_test.columns)

Index(['native-country_ Holand-Netherlands',
       'native-country_ Outlying-US(Guam-USVI-etc)',
       'workclass_ Never-worked'],
      dtype='object')

In [47]:
X_clean_train = X_clean_train.drop(['native-country_ Holand-Netherlands','native-country_ Outlying-US(Guam-USVI-etc)','workclass_ Never-worked' ], axis=1)

In [48]:
clean_model = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
clean_model.fit(X_clean_train, y_clean_train)

y_clean_pred = classifier.predict_proba(X_clean_test)

clean_diff = average_diff(y_clean_pred,X_clean_test)
clean_diff

y_pred_clean_test = classifier.predict(X_test)

clean_test_score = accuracy_score(y_test,y_pred_test)

C:\Users\sathv\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [49]:
from tabulate import tabulate
data = [["Local outlier factor","Removing Outliers","Dirty test data","One-Hot Encoding", "KNN", dirty_test_score, dirty_diff],
["Local outlier factor","Removing Outliers", "Clean test data", "One-Hot Encoding", "KNN", clean_test_score, clean_diff]]
print (tabulate(data, headers=["Detection Method","Method", "Test Data", "Encoding Technique", "ML Model", "Accuracy", "Fairness"]))

Detection Method      Method             Test Data        Encoding Technique    ML Model      Accuracy    Fairness
--------------------  -----------------  ---------------  --------------------  ----------  ----------  ----------
Local outlier factor  Removing Outliers  Dirty test data  One-Hot Encoding      KNN           0.816214    0.193431
Local outlier factor  Removing Outliers  Clean test data  One-Hot Encoding      KNN           0.816214    0.195299