In [285]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [286]:
population = pd.read_csv(r"C:\Users\sathv\OneDrive\Desktop\RDM\adult.data.csv")

In [287]:
sample_1 = population

In [288]:
X= sample_1[["age","workclass","education-num","marital-status","occupation","relationship","race","sex","hoursperweek","native-country"]]
y = sample_1["class"]

In [289]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state = 42)

In [290]:
X_train

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
5514,33,Local-gov,13,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States
19777,36,Private,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States
10781,58,Self-emp-not-inc,5,Separated,Craft-repair,Not-in-family,White,Male,40,United-States
32240,21,Private,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,46,United-States
9876,27,Private,10,Divorced,Other-service,Not-in-family,White,Male,40,United-States
...,...,...,...,...,...,...,...,...,...,...
29802,47,Private,13,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States
5390,31,Private,8,Divorced,Other-service,Unmarried,White,Female,21,United-States
860,18,Private,7,Never-married,Adm-clerical,Own-child,White,Female,20,United-States
15795,50,Self-emp-not-inc,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,84,United-States
23654,34,Self-emp-inc,13,Divorced,Farming-fishing,Not-in-family,White,Male,60,United-States

In [291]:
def detect_outlier(data,col):
    # find q1 and q3 values
    q1, q3 = np.percentile(sorted(data[col]), [25, 75])
 
    # compute IRQ
    iqr = q3 - q1
 
    # find lower and upper bounds
    lower_bound = q1 - (1.5 * iqr)
    upper_bound = q3 + (1.5 * iqr)
    print(q1, q3, iqr, lower_bound, upper_bound)
 
    outliers = data[(data[col] < lower_bound) | (data[col] > upper_bound)]
#     outliers = [x for x in data[col] if x < lower_bound or x > upper_bound]
 
    return outliers

In [292]:
def remove(x,only_na):
    new_data = x.copy()
    new_data.drop(index=only_na,inplace=True)
    indices = list(x.index.difference(new_data.index))
#     print(new_data)
    return(new_data,indices)

In [293]:
def drop_rows(x,only_na):
    new_data = x.copy()
    new_data.drop(index=only_na,inplace=True)
    return new_data

In [294]:
outliers = detect_outlier(X_train,"age")

28.0 48.0 20.0 -2.0 78.0

In [295]:
only_na = outliers.index

In [296]:
only_na

Int64Index([ 3537, 18560, 24043, 23459, 17609, 20610, 15356, 11238,  6173,
            20249,
            ...
             4109, 13025, 20953, 24027,  2891, 32367,  5104, 20463, 20880,
            18141],
           dtype='int64', length=112)

In [297]:
X_train,indices = remove(X_train,only_na)

In [298]:
X_train

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
5514,33,Local-gov,13,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States
19777,36,Private,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States
10781,58,Self-emp-not-inc,5,Separated,Craft-repair,Not-in-family,White,Male,40,United-States
32240,21,Private,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,46,United-States
9876,27,Private,10,Divorced,Other-service,Not-in-family,White,Male,40,United-States
...,...,...,...,...,...,...,...,...,...,...
29802,47,Private,13,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States
5390,31,Private,8,Divorced,Other-service,Unmarried,White,Female,21,United-States
860,18,Private,7,Never-married,Adm-clerical,Own-child,White,Female,20,United-States
15795,50,Self-emp-not-inc,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,84,United-States
23654,34,Self-emp-inc,13,Divorced,Farming-fishing,Not-in-family,White,Male,60,United-States

In [299]:
y_train = drop_rows(y_train,indices)

In [300]:
y_train

5514       >50K
19777      >50K
10781     <=50K
32240     <=50K
9876      <=50K
          ...
29802     <=50K
5390      <=50K
860       <=50K
15795     <=50K
23654     <=50K
Name: class, Length: 25936, dtype: object

In [301]:
outliers1 = detect_outlier(X_train,"hoursperweek")

40.0 45.0 5.0 32.5 52.5

In [302]:
only_na1 = outliers1.index

In [303]:
X_train,indices1 = remove(X_train,only_na1)

In [304]:
X_train

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
5514,33,Local-gov,13,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States
19777,36,Private,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States
10781,58,Self-emp-not-inc,5,Separated,Craft-repair,Not-in-family,White,Male,40,United-States
32240,21,Private,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,46,United-States
9876,27,Private,10,Divorced,Other-service,Not-in-family,White,Male,40,United-States
...,...,...,...,...,...,...,...,...,...,...
22118,23,Private,6,Never-married,Handlers-cleaners,Unmarried,White,Male,50,United-States
11284,35,Private,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,50,?
11964,58,Self-emp-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States
21575,39,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,43,United-States
29802,47,Private,13,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States

In [305]:
y_train = drop_rows(y_train,indices1)

In [306]:
y_train

5514       >50K
19777      >50K
10781     <=50K
32240     <=50K
9876      <=50K
          ...
22118     <=50K
11284      >50K
11964      >50K
21575     <=50K
29802     <=50K
Name: class, Length: 18835, dtype: object

In [307]:
X_train = pd.get_dummies(X_train, columns = ['workclass', 'relationship', 'marital-status', 'occupation', 'race', 'sex', 'native-country'])

In [308]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18835 entries, 5514 to 29802
Data columns (total 89 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   age                                         18835 non-null  int64
 1   education-num                               18835 non-null  int64
 2   hoursperweek                                18835 non-null  int64
 3   workclass_ ?                                18835 non-null  uint8
 4   workclass_ Federal-gov                      18835 non-null  uint8
 5   workclass_ Local-gov                        18835 non-null  uint8
 6   workclass_ Never-worked                     18835 non-null  uint8
 7   workclass_ Private                          18835 non-null  uint8
 8   workclass_ Self-emp-inc                     18835 non-null  uint8
 9   workclass_ Self-emp-not-inc                 18835 non-null  uint8
 10  workclass_ State-gov                        18835 non-null  uint8
 11  workclass_ Without-pay                      18835 non-null  uint8
 12  relationship_ Husband                       18835 non-null  uint8
 13  relationship_ Not-in-family                 18835 non-null  uint8
 14  relationship_ Other-relative                18835 non-null  uint8
 15  relationship_ Own-child                     18835 non-null  uint8
 16  relationship_ Unmarried                     18835 non-null  uint8
 17  relationship_ Wife                          18835 non-null  uint8
 18  marital-status_ Divorced                    18835 non-null  uint8
 19  marital-status_ Married-AF-spouse           18835 non-null  uint8
 20  marital-status_ Married-civ-spouse          18835 non-null  uint8
 21  marital-status_ Married-spouse-absent       18835 non-null  uint8
 22  marital-status_ Never-married               18835 non-null  uint8
 23  marital-status_ Separated                   18835 non-null  uint8
 24  marital-status_ Widowed                     18835 non-null  uint8
 25  occupation_ ?                               18835 non-null  uint8
 26  occupation_ Adm-clerical                    18835 non-null  uint8
 27  occupation_ Armed-Forces                    18835 non-null  uint8
 28  occupation_ Craft-repair                    18835 non-null  uint8
 29  occupation_ Exec-managerial                 18835 non-null  uint8
 30  occupation_ Farming-fishing                 18835 non-null  uint8
 31  occupation_ Handlers-cleaners               18835 non-null  uint8
 32  occupation_ Machine-op-inspct               18835 non-null  uint8
 33  occupation_ Other-service                   18835 non-null  uint8
 34  occupation_ Priv-house-serv                 18835 non-null  uint8
 35  occupation_ Prof-specialty                  18835 non-null  uint8
 36  occupation_ Protective-serv                 18835 non-null  uint8
 37  occupation_ Sales                           18835 non-null  uint8
 38  occupation_ Tech-support                    18835 non-null  uint8
 39  occupation_ Transport-moving                18835 non-null  uint8
 40  race_ Amer-Indian-Eskimo                    18835 non-null  uint8
 41  race_ Asian-Pac-Islander                    18835 non-null  uint8
 42  race_ Black                                 18835 non-null  uint8
 43  race_ Other                                 18835 non-null  uint8
 44  race_ White                                 18835 non-null  uint8
 45  sex_ Female                                 18835 non-null  uint8
 46  sex_ Male                                   18835 non-null  uint8
 47  native-country_ ?                           18835 non-null  uint8
 48  native-country_ Cambodia                    18835 non-null  uint8
 49  native-country_ Canada                      18835 non-null  uint8
 50  native-country_ China                       18835 non-null  uint8
 51  native-country_ Columbia                    18835 non-null  uint8
 52  native-country_ Cuba                        18835 non-null  uint8
 53  native-country_ Dominican-Republic          18835 non-null  uint8
 54  native-country_ Ecuador                     18835 non-null  uint8
 55  native-country_ El-Salvador                 18835 non-null  uint8
 56  native-country_ England                     18835 non-null  uint8
 57  native-country_ France                      18835 non-null  uint8
 58  native-country_ Germany                     18835 non-null  uint8
 59  native-country_ Greece                      18835 non-null  uint8
 60  native-country_ Guatemala                   18835 non-null  uint8
 61  native-country_ Haiti                       18835 non-null  uint8
 62  native-country_ Holand-Netherlands          18835 non-null  uint8
 63  native-country_ Honduras                    18835 non-null  uint8
 64  native-country_ Hong                        18835 non-null  uint8
 65  native-country_ Hungary                     18835 non-null  uint8
 66  native-country_ India                       18835 non-null  uint8
 67  native-country_ Iran                        18835 non-null  uint8
 68  native-country_ Ireland                     18835 non-null  uint8
 69  native-country_ Italy                       18835 non-null  uint8
 70  native-country_ Jamaica                     18835 non-null  uint8
 71  native-country_ Japan                       18835 non-null  uint8
 72  native-country_ Laos                        18835 non-null  uint8
 73  native-country_ Mexico                      18835 non-null  uint8
 74  native-country_ Nicaragua                   18835 non-null  uint8
 75  native-country_ Outlying-US(Guam-USVI-etc)  18835 non-null  uint8
 76  native-country_ Peru                        18835 non-null  uint8
 77  native-country_ Philippines                 18835 non-null  uint8
 78  native-country_ Poland                      18835 non-null  uint8
 79  native-country_ Portugal                    18835 non-null  uint8
 80  native-country_ Puerto-Rico                 18835 non-null  uint8
 81  native-country_ Scotland                    18835 non-null  uint8
 82  native-country_ South                       18835 non-null  uint8
 83  native-country_ Taiwan                      18835 non-null  uint8
 84  native-country_ Thailand                    18835 non-null  uint8
 85  native-country_ Trinadad&Tobago             18835 non-null  uint8
 86  native-country_ United-States               18835 non-null  uint8
 87  native-country_ Vietnam                     18835 non-null  uint8
 88  native-country_ Yugoslavia                  18835 non-null  uint8
dtypes: int64(3), uint8(86)
memory usage: 2.1 MB

In [309]:
y_train = y_train.astype('category')

In [310]:
X_test = pd.get_dummies(X_test, columns = ['workclass', 'relationship', 'marital-status', 'occupation', 'race', 'sex', 'native-country'])

In [311]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6513 entries, 14160 to 24639
Data columns (total 86 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   age                                    6513 non-null   int64
 1   education-num                          6513 non-null   int64
 2   hoursperweek                           6513 non-null   int64
 3   workclass_ ?                           6513 non-null   uint8
 4   workclass_ Federal-gov                 6513 non-null   uint8
 5   workclass_ Local-gov                   6513 non-null   uint8
 6   workclass_ Private                     6513 non-null   uint8
 7   workclass_ Self-emp-inc                6513 non-null   uint8
 8   workclass_ Self-emp-not-inc            6513 non-null   uint8
 9   workclass_ State-gov                   6513 non-null   uint8
 10  workclass_ Without-pay                 6513 non-null   uint8
 11  relationship_ Husband                  6513 non-null   uint8
 12  relationship_ Not-in-family            6513 non-null   uint8
 13  relationship_ Other-relative           6513 non-null   uint8
 14  relationship_ Own-child                6513 non-null   uint8
 15  relationship_ Unmarried                6513 non-null   uint8
 16  relationship_ Wife                     6513 non-null   uint8
 17  marital-status_ Divorced               6513 non-null   uint8
 18  marital-status_ Married-AF-spouse      6513 non-null   uint8
 19  marital-status_ Married-civ-spouse     6513 non-null   uint8
 20  marital-status_ Married-spouse-absent  6513 non-null   uint8
 21  marital-status_ Never-married          6513 non-null   uint8
 22  marital-status_ Separated              6513 non-null   uint8
 23  marital-status_ Widowed                6513 non-null   uint8
 24  occupation_ ?                          6513 non-null   uint8
 25  occupation_ Adm-clerical               6513 non-null   uint8
 26  occupation_ Armed-Forces               6513 non-null   uint8
 27  occupation_ Craft-repair               6513 non-null   uint8
 28  occupation_ Exec-managerial            6513 non-null   uint8
 29  occupation_ Farming-fishing            6513 non-null   uint8
 30  occupation_ Handlers-cleaners          6513 non-null   uint8
 31  occupation_ Machine-op-inspct          6513 non-null   uint8
 32  occupation_ Other-service              6513 non-null   uint8
 33  occupation_ Priv-house-serv            6513 non-null   uint8
 34  occupation_ Prof-specialty             6513 non-null   uint8
 35  occupation_ Protective-serv            6513 non-null   uint8
 36  occupation_ Sales                      6513 non-null   uint8
 37  occupation_ Tech-support               6513 non-null   uint8
 38  occupation_ Transport-moving           6513 non-null   uint8
 39  race_ Amer-Indian-Eskimo               6513 non-null   uint8
 40  race_ Asian-Pac-Islander               6513 non-null   uint8
 41  race_ Black                            6513 non-null   uint8
 42  race_ Other                            6513 non-null   uint8
 43  race_ White                            6513 non-null   uint8
 44  sex_ Female                            6513 non-null   uint8
 45  sex_ Male                              6513 non-null   uint8
 46  native-country_ ?                      6513 non-null   uint8
 47  native-country_ Cambodia               6513 non-null   uint8
 48  native-country_ Canada                 6513 non-null   uint8
 49  native-country_ China                  6513 non-null   uint8
 50  native-country_ Columbia               6513 non-null   uint8
 51  native-country_ Cuba                   6513 non-null   uint8
 52  native-country_ Dominican-Republic     6513 non-null   uint8
 53  native-country_ Ecuador                6513 non-null   uint8
 54  native-country_ El-Salvador            6513 non-null   uint8
 55  native-country_ England                6513 non-null   uint8
 56  native-country_ France                 6513 non-null   uint8
 57  native-country_ Germany                6513 non-null   uint8
 58  native-country_ Greece                 6513 non-null   uint8
 59  native-country_ Guatemala              6513 non-null   uint8
 60  native-country_ Haiti                  6513 non-null   uint8
 61  native-country_ Honduras               6513 non-null   uint8
 62  native-country_ Hong                   6513 non-null   uint8
 63  native-country_ Hungary                6513 non-null   uint8
 64  native-country_ India                  6513 non-null   uint8
 65  native-country_ Iran                   6513 non-null   uint8
 66  native-country_ Ireland                6513 non-null   uint8
 67  native-country_ Italy                  6513 non-null   uint8
 68  native-country_ Jamaica                6513 non-null   uint8
 69  native-country_ Japan                  6513 non-null   uint8
 70  native-country_ Laos                   6513 non-null   uint8
 71  native-country_ Mexico                 6513 non-null   uint8
 72  native-country_ Nicaragua              6513 non-null   uint8
 73  native-country_ Peru                   6513 non-null   uint8
 74  native-country_ Philippines            6513 non-null   uint8
 75  native-country_ Poland                 6513 non-null   uint8
 76  native-country_ Portugal               6513 non-null   uint8
 77  native-country_ Puerto-Rico            6513 non-null   uint8
 78  native-country_ Scotland               6513 non-null   uint8
 79  native-country_ South                  6513 non-null   uint8
 80  native-country_ Taiwan                 6513 non-null   uint8
 81  native-country_ Thailand               6513 non-null   uint8
 82  native-country_ Trinadad&Tobago        6513 non-null   uint8
 83  native-country_ United-States          6513 non-null   uint8
 84  native-country_ Vietnam                6513 non-null   uint8
 85  native-country_ Yugoslavia             6513 non-null   uint8
dtypes: int64(3), uint8(83)
memory usage: 731.4 KB

In [312]:
X_train.columns.difference(X_test.columns)

Index(['native-country_ Holand-Netherlands',
       'native-country_ Outlying-US(Guam-USVI-etc)',
       'workclass_ Never-worked'],
      dtype='object')

In [313]:
X_train["workclass_ Never-worked"]

5514     0
19777    0
10781    0
32240    0
9876     0
        ..
22118    0
11284    0
11964    0
21575    0
29802    0
Name: workclass_ Never-worked, Length: 18835, dtype: uint8

In [314]:
# X_test["workclass_Never-worked "].drop
X_train = X_train.drop(['workclass_ Never-worked'], axis=1)

In [315]:
X_train = X_train.drop(['native-country_ Holand-Netherlands'], axis=1)

In [316]:
X_train = X_train.drop(['native-country_ Outlying-US(Guam-USVI-etc)'], axis=1)

In [317]:
y_test = y_test.astype('category')

In [318]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
logisticRegr = LogisticRegression()

In [319]:
def logistic_regression_train(logisticRegr,x,y):
    logisticRegr.fit(x,y)
def logistic_regression_test(logisticRegr,x):
    y_pred = logisticRegr.predict_proba(x)
    return y_pred
def logistic_regression_pred_test(logisticRegr,x):
    y_pred_test = logisticRegr.predict(x)
    return y_pred_test

def average_diff(y_pred, X_test):
    column_i = y_pred.T[0]
    X_test_copy = X_test.copy()
    X_test_copy['preds'] = column_i
    Female = X_test_copy["preds"][X_test_copy["sex_ Female"]== 1]
    female_average = sum(Female)/len(Female)
    male = X_test_copy["preds"][X_test_copy["sex_ Male"] == 1]
    male_average = sum(male)/len(male)
    diff = (female_average - male_average)
    return diff 

def accuracy(y_test, y_pred_final):
#     y_pred_final = np.argmax(y_pred, axis=1)
    tn, fp, fn, tp = confusion_matrix(y_test, y_pred_final).ravel()
    true_positive  = tn
    false_positive = fn
    true_negative  = tp
    false_negative = fp
    accuracy = (true_positive + true_negative) / (true_negative + true_positive + false_positive + false_negative )
    return(accuracy)

In [320]:
model = logistic_regression_train(logisticRegr, X_train, y_train)

C:\Users\sathv\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [321]:
y_pred = logistic_regression_test(logisticRegr, X_test)

In [322]:
y_pred

array([[0.97264711, 0.02735289],
       [0.39155193, 0.60844807],
       [0.21543574, 0.78456426],
       ...,
       [0.12292955, 0.87707045],
       [0.96202669, 0.03797331],
       [0.9966378 , 0.0033622 ]])

In [323]:
dirty_diff = average_diff(y_pred, X_test)

In [324]:
dirty_diff

0.1974115985207413

In [325]:
dirty_test_score = logisticRegr.score(X_test, y_test)

In [326]:
dirty_test_score

0.8281897742975587

In [327]:
X_clean_train, X_clean_test, y_clean_train, y_clean_test = train_test_split(X, y, test_size=0.20, random_state = 42)

In [328]:
outliers = detect_outlier(X_clean_train,"age")

28.0 48.0 20.0 -2.0 78.0

In [329]:
only_na = outliers.index

In [330]:
X_clean_train,indices = remove(X_clean_train,only_na)

In [331]:
X_clean_train

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
5514,33,Local-gov,13,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States
19777,36,Private,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,50,United-States
10781,58,Self-emp-not-inc,5,Separated,Craft-repair,Not-in-family,White,Male,40,United-States
32240,21,Private,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,46,United-States
9876,27,Private,10,Divorced,Other-service,Not-in-family,White,Male,40,United-States
...,...,...,...,...,...,...,...,...,...,...
29802,47,Private,13,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States
5390,31,Private,8,Divorced,Other-service,Unmarried,White,Female,21,United-States
860,18,Private,7,Never-married,Adm-clerical,Own-child,White,Female,20,United-States
15795,50,Self-emp-not-inc,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,84,United-States
23654,34,Self-emp-inc,13,Divorced,Farming-fishing,Not-in-family,White,Male,60,United-States

In [332]:
y_clean_train = drop_rows(y_clean_train,indices)

In [333]:
outliers1 = detect_outlier(X_clean_train,"hoursperweek")

40.0 45.0 5.0 32.5 52.5

In [334]:
only_na1 = outliers1.index

In [335]:
X_clean_train,indices = remove(X_clean_train,only_na1)

In [336]:
y_clean_train = drop_rows(y_clean_train,indices)

In [337]:
y_clean_train

5514       >50K
19777      >50K
10781     <=50K
32240     <=50K
9876      <=50K
          ...
22118     <=50K
11284      >50K
11964      >50K
21575     <=50K
29802     <=50K
Name: class, Length: 18835, dtype: object

In [338]:
outliers2 = detect_outlier(X_clean_test,"age")

28.0 48.0 20.0 -2.0 78.0

In [339]:
only_na2 = outliers2.index

In [340]:
X_clean_test,indices = remove(X_clean_test,only_na2)

In [341]:
X_clean_test

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
14160,27,Private,10,Divorced,Adm-clerical,Not-in-family,White,Female,38,United-States
27048,45,State-gov,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States
28868,29,Private,13,Married-civ-spouse,Exec-managerial,Husband,Black,Male,55,United-States
5667,30,Private,13,Never-married,Machine-op-inspct,Not-in-family,White,Female,40,United-States
7827,29,Self-emp-not-inc,10,Divorced,Craft-repair,Not-in-family,White,Male,50,United-States
...,...,...,...,...,...,...,...,...,...,...
1338,71,Private,13,Divorced,Tech-support,Own-child,White,Female,16,United-States
24534,55,Local-gov,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States
18080,47,Private,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,48,United-States
10354,27,Private,13,Never-married,Adm-clerical,Not-in-family,White,Female,40,United-States
24639,18,Private,9,Never-married,Other-service,Not-in-family,White,Male,25,United-States

In [342]:
y_clean_test = drop_rows(y_clean_test,indices)

In [343]:
outliers3 = detect_outlier(X_clean_test,"hoursperweek")

40.0 45.0 5.0 32.5 52.5

In [344]:
only_na3 = outliers3.index

In [345]:
X_clean_test,indices = remove(X_clean_test,only_na3)

In [346]:
y_clean_test = drop_rows(y_clean_test,indices)

In [347]:
y_clean_test

14160     <=50K
27048     <=50K
5667      <=50K
7827      <=50K
15382      >50K
          ...
2862      <=50K
14741      >50K
24534      >50K
18080      >50K
10354     <=50K
Name: class, Length: 4664, dtype: object

In [348]:
X_clean_test

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,hoursperweek,native-country
14160,27,Private,10,Divorced,Adm-clerical,Not-in-family,White,Female,38,United-States
27048,45,State-gov,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States
5667,30,Private,13,Never-married,Machine-op-inspct,Not-in-family,White,Female,40,United-States
7827,29,Self-emp-not-inc,10,Divorced,Craft-repair,Not-in-family,White,Male,50,United-States
15382,51,Private,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,47,United-States
...,...,...,...,...,...,...,...,...,...,...
2862,25,Private,8,Never-married,Handlers-cleaners,Unmarried,White,Male,43,United-States
14741,32,Private,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States
24534,55,Local-gov,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States
18080,47,Private,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,48,United-States
10354,27,Private,13,Never-married,Adm-clerical,Not-in-family,White,Female,40,United-States

In [349]:
X_clean_train = pd.get_dummies(X_clean_train, columns = ['workclass', 'relationship', 'marital-status', 'occupation', 'race', 'sex', 'native-country'])

In [350]:
y_clean_train = y_clean_train.astype('category')

In [351]:
X_clean_test = pd.get_dummies(X_clean_test, columns = ['workclass', 'relationship', 'marital-status', 'occupation', 'race', 'sex', 'native-country'])

In [352]:
y_clean_test = y_clean_test.astype('category')

In [353]:
X_clean_train.columns.difference(X_clean_test.columns)

Index(['native-country_ Holand-Netherlands',
       'native-country_ Outlying-US(Guam-USVI-etc)',
       'workclass_ Never-worked'],
      dtype='object')

In [354]:
X_clean_train = X_clean_train.drop(['native-country_ Holand-Netherlands','native-country_ Outlying-US(Guam-USVI-etc)','workclass_ Never-worked' ], axis=1)

In [355]:
clean_model = logistic_regression_train(logisticRegr, X_clean_train, y_clean_train)

C:\Users\sathv\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [356]:
y_clean_pred = logistic_regression_test(logisticRegr, X_clean_test)

In [357]:
y_clean_pred

array([[0.97264711, 0.02735289],
       [0.39155193, 0.60844807],
       [0.97652823, 0.02347177],
       ...,
       [0.40194236, 0.59805764],
       [0.12292955, 0.87707045],
       [0.96202669, 0.03797331]])

In [358]:
clean_diff = average_diff(y_clean_pred, X_clean_test)

In [359]:
clean_diff

0.1766967826487037

In [360]:
clean_test_score = logisticRegr.score(X_clean_test, y_clean_test)

In [361]:
clean_test_score

0.823327615780446

In [362]:
from tabulate import tabulate
data = [["Removing Outliers","Dirty test data","One-Hot Encoding", "Logistic Regression", dirty_test_score, dirty_diff],
["Removing Outliers", "Clean test data", "One-Hot Encoding", "Logistic Regression", clean_test_score, clean_diff]]
print (tabulate(data, headers=["Method", "Test Data", "Encoding Technique", "ML Model", "Accuracy", "Fairness"]))

Method             Test Data        Encoding Technique    ML Model               Accuracy    Fairness
-----------------  ---------------  --------------------  -------------------  ----------  ----------
Removing Outliers  Dirty test data  One-Hot Encoding      Logistic Regression    0.82819     0.197412
Removing Outliers  Clean test data  One-Hot Encoding      Logistic Regression    0.823328    0.176697